basePath: /
definitions:
  subscription.CreateSubscriptionDTO:
    properties:
      end_date:
        example: "2025-06-01"
        type: string
      price:
        example: 1500
        type: integer
      service_name:
        example: Netflix
        type: string
      start_date:
        example: "2025-01-01"
        type: string
      user_id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    required:
    - price
    - service_name
    - start_date
    - user_id
    type: object
  subscription.Subscription:
    description: Subscription model
    properties:
      end_date:
        example: "2025-06-01T00:00:00Z"
        type: string
      id:
        example: 1
        type: integer
      price:
        example: 1500
        type: integer
      service_name:
        example: Netflix
        type: string
      start_date:
        example: "2025-01-01T00:00:00Z"
        type: string
      user_id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    type: object
info:
  contact: {}
  description: API for managing user subscriptions.
  title: Subscription Service API
  version: "1.0"
paths:
  /subscriptions/:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/subscription.Subscription'
            type: array
      summary: List all subscriptions
      tags:
      - Subscriptions
    post:
      consumes:
      - application/json
      parameters:
      - description: Subscription data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/subscription.CreateSubscriptionDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Create subscription
      tags:
      - Subscriptions
  /subscriptions/{id}:
    delete:
      parameters:
      - description: Subscription ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
      summary: Delete subscription
      tags:
      - Subscriptions
    get:
      parameters:
      - description: Subscription ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/subscription.Subscription'
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get subscription by ID
      tags:
      - Subscriptions
    put:
      consumes:
      - application/json
      parameters:
      - description: Subscription ID
        in: path
        name: id
        required: true
        type: integer
      - description: Updated subscription
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/subscription.CreateSubscriptionDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Update subscription
      tags:
      - Subscriptions
  /subscriptions/sum:
    get:
      parameters:
      - description: User ID
        in: query
        name: user_id
        type: string
      - description: Service name
        in: query
        name: service_name
        type: string
      - description: From date
        in: query
        name: from
        type: string
      - description: To date
        in: query
        name: to
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: integer
            type: object
      summary: Sum subscriptions by filter
      tags:
      - Subscriptions
schemes:
- http
swagger: "2.0"
